@model Twitter.Web.Models.TweetViewModel

@{
    ViewBag.Title = "Tweet";
}

<h2>Tweet</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal compose-tweet-box">
        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" name="Content" />
                </div>
                <div class="col-md-2 tweet-publish">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
