body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Tweet Feed */
.col-centered{
    float: none;
    margin: 0 auto;
}

.tweet {
    padding-top: 5%;
    border-bottom: 1px solid #E1E8ED;
}

.tweet:hover {
    background-color: #F5F8FA;
}

.tweet-feed {
    padding: 1% 0%;
    border: 1px solid #E1E8ED;
    background-color: #FFFFFF;
}

.follow-box {
    margin-left: 1%;
}

.user-additional-info ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10%;
    font-size: 0.9em;
}

.user-additional-info ul p {
    display: inline;
    vertical-align: text-top;
    margin-left: 1.5%;
}

.user-additional-info ul li {
    margin-bottom: 4%;
}

#location-icon {
    margin-left: -2px;
}

#profile-username {
    color: #8B99A6;
}