body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.tweet {
    margin-bottom: 5%;
    border-bottom: 1px solid black;
}

.tweet-feed {
    padding: 1% 0%;
    border: 1px solid black;
}

.follow-box {
    margin-left: 1%;
}

#searchForm input {
    padding-right: 20px;
    margin-right: -10px;
}

#searchFormBtn {
    margin-left: -20px;
}

.navbar ul li a:hover {
    margin-bottom: -3px;
    border-bottom: 3px solid #5EA9DD;
}