@model Twitter.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Feed";
}

<h1>Twitter</h1>

@if (Model.isLoggedIn)
{
    <p>@Model.UserName</p>    
}

<div class="row">
    @foreach (var tweet in Model.Tweets)
    {
        <p>@tweet.Content</p>
    }
</div>