@using Microsoft.AspNet.Identity
@model Twitter.Web.Models.HomeViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Feed";
}


<div class="row">
    <div class="col-md-2">
        @if (Request.IsAuthenticated)
        {
            <p>@User.Identity.GetUserName()</p>
        }        
    </div>
    <div class="col-md-7 tweet-feed">
        @Html.DisplayFor(x => x.Tweets)

        <div class="pager-box">
            @Html.PagedListPager(Model.Tweets, page => Url.Action("Index", new { page }))
        </div>
    </div>
    <div class = "col-md-2 follow-box">
        <div class="col-md-12">WHO TO FOLLOW?</div>
        <div class="col-md-12">
            @Html.Partial("~/Views/Shared/Footer.cshtml")
        </div>
    </div>
</div>